
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Montserrat&family=Vollkorn&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.body{
  width:100vw;
  font-family: 'Vollkorn', serif;
  
}
:root{
  --after-content:'2'
}
.heading {
  text-align: centre;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* styling of head section starts */
header{
  position: fixed;
  left: 0;
  right: 3em;
  top: 0;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: url('/assets/my_images/henrik-donnestad-4UwRjnnWt90-unsplash.jpg'); */
  background-repeat: repeat;
  background-size: contain;
  background-color: rgb(9, 7, 7);
  color: rgb(154, 97, 23);
  width: 100%;
  
}
/*  styling of head section ends  */

/* styling of categories section starts */
.glow-button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  /* transition: opacity .3s ease-in-out; */
  border-radius: 10px;
}
.categories{
  padding-top: 5rem;
}
.glow-button:active {
  color: #000
}

.glow-button:active:after {
  background: transparent;
}

.glow-button:hover:before {
  opacity: 1;
}
.glow-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(86, 39, 39);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.shop{
  font-size: 3rem;
  color: rgb(86, 39, 39);
  position: absolute;
  top: 10px;
  left: 10px;
}

/* styling of categories section ends */

/* styling of cart section starts */



.cart-box{
  width: 26% !important;
  position: absolute;
  left: 72%;
  top: 25%;
  border: solid 1px rgb(22, 22, 34);
  padding: 10px 20px;
  border: none;

}
h2{
  font-size: x-large;
  padding: 15px 10px;
}
.cart-wrapper{
  overflow-y: auto;
  max-height: 350px;
  width: 24vw;
}
.subtotal{
  text-align: right;
  padding:5%;
}
/*  */

.checkout,
.view-cart{
  width: 95%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(154, 97, 23);
  font-size: large;
  color: black;
  margin: 10px auto;
  padding: 10px 15px;

}

.view-cart{
  background-color: rgb(246, 244, 242);
  border-radius: 2px rgb(154, 97, 23);
  color: rgb(154, 97, 23);

}
.cart-icon{
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  cursor: pointer;
}
.cart-item{
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding: 5% 2%;
  border-bottom:solid 1px rgb(28, 42, 42) ;
}
.cart-item img{
  width: 100%;
}
.cart-item .details{
  padding-left: 10%;
}
.cart-item h3{
  text-align: left ;
  margin-bottom: 5%;

}
.cart-item .price{
  display: block;
  text-align: right;
  margin-top: 35%;
}
.quantity{
  display: block;
  margin-top: 5%;
}
.fa-window-close{
  background-color: rgb(154, 97, 23);
  color: white;
  cursor: pointer;
}
.cancel{
  text-align: right;
}
.whole-cart-window{
  border: solid 1px lightgrey;
  position: fixed;
  top: 12vh;
  background-color: white;
  margin-right: 2%;
  border-top: none;
}
.hide{
  display: none;
}
.non-empty::after{
  content: var(--after-content);
  font-size: 12px;
  width: 12px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -26px;
  right: 10px;
  background-color: red;
  border-radius:50% ;
  color:white;
}
.cart-quantity{
  border: 1px solid brown;
  outline-color: black;
  width: 2.7rem;
  text-align: center;
  font-size: 1rem;

}
/* styling of card section ends */

/* styling of the cards */
#cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2em;
  align-items: center;
  min-width: 550px;
  /* background-image: url("/assets/my_images/pawel-czerwinski-d5TBzrddHMk-unsplash.jpg"); */
  background-color: #111;
  color: #fff;
  width: 100%;
  margin-top: 280px;
  padding: 100px;
  
}
.card {
  width: 23%;
  box-shadow: 0 0 4px rgb(245, 7, 47);
  text-align: center;
  padding: 1.5rem;
  padding: 20px;
 max-height: 800px;
  /* margin-top: 2em; */
}
.title {
  font-size: 1.3rem;
}
.category,
.price {
  font-weight: bold;
  text-transform: capitalize;
  margin: 1em;
  font-size: 1.2rem;
}
.images {
 
  width: 100px;
}
.cart{
  position: absolute;
  right: 0;
}

#cart-btn{
  width: fit-content;
  margin: auto;
  /* margin-top: 10px; */
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(177, 74, 58);
  border-radius: 30px;
  outline: none;
  border-color: rgb(177, 74, 58);
}

.description{
  font-size: 12px;
}

/* end of cards styling */






