
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Montserrat&family=Vollkorn&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.body{
  width:100vw;
  font-family: 'Vollkorn', serif;
  
}
:root{
  --after-content:'2'
}
.heading {
  text-align: centre;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* styling of head section starts */
header{
  position: fixed;
  left: 0;
  right: 3em;
  top: 0;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: url('/assets/my_images/henrik-donnestad-4UwRjnnWt90-unsplash.jpg'); */
  background-repeat: repeat;
  background-size: contain;
  background-color: rgb(9, 7, 7);
  color: rgb(154, 97, 23);
  width: 100%;
  
}
/*  styling of head section ends  */

