
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Montserrat&family=Vollkorn&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.body{
  width:100vw;
  font-family: 'Vollkorn', serif;
  
}
:root{
  --after-content:'2'
}
.heading {
  text-align: centre;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


